<% provide(:title, "Putter King Adventure Golf App") %>
<% provide(:description, "Putter King - Putter King Adventure Golf App") %>

<div class="center education">
	<h1>Putter King Adventure Golf</h1>
	<h2 class="center">
		Check out the award-winning game that started in Japan and is becoming popular all over the world. 
	</h2>
	<div id="app_image">
  			<a id="apple-link" href="http://appstore.com/putterkingadventuregolf"></a>
  			<a id="google-link" href="https://play.google.com/store/apps/details?id=com.putterkingllc.putterking&hl=en"></a>
  			<%= image_tag("app.jpg", :alt => "Putter King Adventure Golf App") %>
   	</div>
</div>	
<br>
<h3 class="center">
	Putter King Adventure Golf finished 3rd<br>in the 'Best Sports Game' category of the 2011 Best App Ever Awards.
</h3>	
<div class="pkwell">

	<p>
		Experience the game's high definition graphics as you help Putty in his quest to become the Putter King. Test your putting skills on visually stunning holes from all over the world. Use your creativity and imagination to rack up the hole-in-ones as your adventure takes you everywhere from the Great Wall of China to the Pyramids of Egypt to Mt. Fuji in Japan.
		<br>
		<br>
		Compete against your friends and post your scores to Facebook and Twitter as you try to unlock all of the challenging Achievements.
		<br>
		<br>
		Try out all 3 different courses – "Adventures in Japan", "Trip around the World", and "Putty's Playground"
		<br>
		<br>
		Putter King App Features:
		<ul>
			<li>24 unique, themed holes + 3 user designed holes</li>
			<li>4 game modes (Championship, Timed Trial, Multiplayer, and Practice)</li>
			<li>4 character avatars</li>
			<li>Realistic physics</li>
			<li>Professionally composed soundtrack</li>
			<li>OpenFeint enabled</li>
			<li>Publish your scores to Facebook & Twitter</li>
		</ul>
	</p>
</div>