<div class="center" id="home_container">
	<h1>Putter King Adventure Golf</h1>
	<div class="center_image" id="home_outer">
		<div id="home_inner_a">
			<%= image_tag("ipad.png", :alt => "Putter King Adventure Golf on the iPad") %>
		</div>
		<div id="home_inner_b">
			<iframe width="420" height="315" src="http://www.youtube.com/embed/diPkwe5rDb8?rel=0" frameborder="0" allowfullscreen></iframe>
		</div>	

	</div>
	<br>
	<div>
		<%= link_to(image_tag("apple_badge.png", :alt => "Putter King Adventure Golf Available on the 	Apple App Store"), "http://appstore.com/putterkingadventuregolf") %>
		<%= link_to(image_tag("google_badge.png", :alt => "Putter King Adventure Golf Available on the Google Play Store"), "http://appstore.com/putterkingadventuregolf") %>
	</div>
	<br>
	<%= image_tag("best_app_badge.png", :alt => "Putter King Adventure Golf - Best App Ever Awards 3rd Place 2011 ") %>
</div>	
	<h3 class="center">Putter King Adventure Golf is a challenging miniature golf game available on the Apple App Store and Google Play Store.</h3>
	<h4>
		<ul>
			<li>24 unique, themed hole designs + 3 user designed holes</li>
			<li>Intuitive gameplay that follows real world physics</li>
			<li>Beautiful graphics</li>
			<li>Track your scores and achievements against your friends (OpenFeint enabled)</li>
		</ul>
	</h4>		
<blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
</blockquote>