<% provide(:title, "Miniature Golf Math") %>
<% provide(:description, "Putter King - Miniature Golf Math") %>

<div class="pkwell">
	<h1>Miniature Golf Math</h1>

	At Putter King, we believe that our children are the future and we hope to help further their education as well as inspire their creativity and imagination. We created the Future Kings™ program as a way to help give back and promote the education of children.

	We believe that the best way to learn about a new topic is to make it fun, challenging, interesting, and stimulating. Therefore, we have created 8 lessons of differing difficulty on various math (4) and physics (4) topics that are found in the game of miniature golf.

	These lessons are free and are designed to be used by teachers in the classroom or for self study online. There are many math and physics concepts hidden in the game of miniature golf. Letʼs uncover them together.

	On the Putter King website you can view or download all of the math and physics lessons. See if you can progress through the 4 levels of escalating difficulty for each subject to become a King. Letʼs have fun learning math and physics together!

	Miniature Golf Math
	Here you can learn all about the math concepts that are hidden in miniature golf using the 4 lessons below. These lessons are free and are designed to be used by teachers in the classroom or for self study online.

	See if you can progress through the 3 levels of escalating difficulty. Letʼs have fun learning math together!


	<h2>Level 1 - Prince</h2>
	Area of focus: angles
	Topics covered:

	Parts of an angle
	Labeling angles
	Types of angles
	Suggested time to complete (2 hrs):

	Teaching material (40 minutes)
	Practice activity (20 minutes)
	Final project (60 minutes)
	<h3>Putter King Education - Math (Level 1)</h3>
	<iframe src="http://www.slideshare.net/slideshow/embed_code/8589849?rel=0" width="597" height="486" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe> 



	Level 2 - Princess
	Area of focus: angles
	Topics covered:

	Supplementary angles
	Complementary angles
	Congruent angles
	Adjacent angles
	Linear pairs
	Vertical angles
	Angle bisectors
	Suggested time to complete (2 hrs):

	Teaching material (40 minutes)
	Practice activity (20 minutes)
	Final project (60 minutes)
	Putter King Education - Math (Level 2)
</div>	