<% provide(:title, "Miniature Golf Math") %>
<% provide(:description, "Putter King - Miniature Golf Math") %>

<div class="center education">
	<h1>Miniature Golf Math</h1>
	<br>
	<%= image_tag("education.jpg", :alt => "Putter King Education") %>
</div>	
<br>
<br>
<div class="pkwell">
	<p>
		At Putter King, we believe that our children are the future and we hope to help further their education as well as inspire their creativity and imagination. We created the Future Kings™ program as a way to help give back and promote the education of children.
		<br>
		<br>
		We believe that the best way to learn about a new topic is to make it fun, challenging, interesting, and stimulating. Therefore, we have created several lessons of differing difficulty on various math and physics topics that are found in the game of miniature golf.
		<br>
		<br>
		These lessons are free and are designed to be used by teachers in the classroom or for self study online. There are many math and physics concepts hidden in the game of miniature golf. Letʼs uncover them together.
	</p>	

	<h2>Level 1 - Prince</h2>
	<h4>Area of focus: angles</h4>
	<p>
		Topics covered:
	</p>	
		<ul>
			<li>Parts of an angle</li>
			<li>Labeling angles</li>
			<li>Types of angles</li>
		</ul>
	<p>
		Suggested time to complete (2 hrs):
	</p>	
		<ul>
			<li>Teaching material (40 minutes)</li>
			<li>Practice activity (20 minutes)</li>
			<li>Final project (60 minutes)</li>
		</ul>	
	<h3><%= link_to "Putter King Education - Math (Level 1)", "http://www.slideshare.net/putterking/putter-king-education-math-level-1-english", :target => "_blank" %></h3>
	<iframe src="http://www.slideshare.net/slideshow/embed_code/8589849?rel=0" width="597" height="486" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
	<h2>Level 2 - Princess</h2>
	<h4>Area of focus: angles</h4>
	<p>
		Topics covered:
	</p>	
		<ul>
			<li>Supplementary angles</li>
			<li>Complementary angles</li>
			<li>Congruent angles</li>
			<li>Adjacent angles</li>
			<li>Linear pairs</li>
			<li>Vertical angles</li>
			<li>Angle bisectors</li>
		</ul>
	<p>
		Suggested time to complete (2 hrs):
	</p>	
		<ul>
			<li>Teaching material (40 minutes)</li>
			<li>Practice activity (20 minutes)</li>
			<li>Final project (60 minutes)</li>
		</ul>	
	<h3><%= link_to "Putter King Education - Math (Level 2)", "http://www.slideshare.net/putterking/putter-king-education-math-level-2", :target => "_blank" %></h3>
	<iframe src="http://www.slideshare.net/slideshow/embed_code/8589867?rel=0" width="597" height="486" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
	<h2>Level 3 - Queen</h2>
	<h4>Area of focus: trigonometry and mathematical proofs</h4>
	<p>
		Topics covered:
	</p>	
		<ul>
			<li>Trigonometry</li>
			<li>Right triangle definitions</li>
			<li>Trigonometric functions</li>
			<li>Law of sines</li>
			<li>Law of cosines</li>
			<li>Postulates and axioms</li>
			<li>Theorems</li>
			<li>Pythagorean Theorem</li>
			<li>Mathematical proof</li>
		</ul>
	<p>
		Suggested time to complete (2 hrs):
	</p>	
		<ul>
			<li>Teaching material (40 minutes)</li>
			<li>Practice activity (20 minutes)</li>
			<li>Final project (60 minutes)</li>
		</ul>	
	<h3><%= link_to "Putter King Education - Math (Level 3)", "http://www.slideshare.net/putterking/putter-king-education-math-level-3", :target => "_blank" %></h3>
	<iframe src="http://www.slideshare.net/slideshow/embed_code/8622859?rel=0" width="597" height="486" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
</div>