<% provide(:title, "Miniature Golf Physics") %>
<% provide(:description, "Putter King - Miniature Golf Physics") %>

<div class="center education">
	<h1>Miniature Golf Physics</h1>
	<br>
	<%= image_tag("education.jpg", :alt => "Putter King Education") %>
</div>	
<br>
<br>
<div class="pkwell">
	<p>
		At Putter King, we believe that our children are the future and we hope to help further their education as well as inspire their creativity and imagination. We created the Future Kings™ program as a way to help give back and promote the education of children.
		<br>
		<br>
		We believe that the best way to learn about a new topic is to make it fun, challenging, interesting, and stimulating. Therefore, we have created several lessons of differing difficulty on various math and physics topics that are found in the game of miniature golf.
		<br>
		<br>
		These lessons are free and are designed to be used by teachers in the classroom or for self study online. There are many math and physics concepts hidden in the game of miniature golf. Letʼs uncover them together.
	</p>	

	<h2>Level 1 - Prince</h2>
	<h4>Area of focus: The Law of Reflection</h4>
	<p>
		Topics covered:
	</p>	
		<ul>
			<li>Surface normal</li>
			<li>Angle of incidence</li>
			<li>Angle of reflection</li>
			<li>The Law of Reflection</li>
		</ul>
	<p>
		Suggested time to complete (2 hrs):
	</p>	
		<ul>
			<li>Teaching material (40 minutes)</li>
			<li>Practice activity (20 minutes)</li>
			<li>Final project (60 minutes)</li>
		</ul>	
	<h3><%= link_to "Putter King Education - Physics (Level 1)", "http://www.slideshare.net/putterking/putter-king-education-physics-level-1", :target => "_blank" %></h3>
	<iframe src="http://www.slideshare.net/slideshow/embed_code/8589878?rel=0" width="597" height="486" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
	<h2>Level 2 - Princess</h2>
	<h4>Area of focus: force and motion</h4>
	<p>
		Topics covered:
	</p>	
		<ul>
			<li>Force</li>
			<li>Gravity</li>
			<li>Law of Universal Gravitation</li>
			<li>Newtonʼs First Law of Motion</li>
			<li>Newtonʼs Second Law of Motion</li>
			<li>Newtonʼs Third Law of Motion</li>
		</ul>
	<p>
		Suggested time to complete (2 hrs):
	</p>	
		<ul>
			<li>Teaching material (40 minutes)</li>
			<li>Practice activity (20 minutes)</li>
			<li>Final project (60 minutes)</li>
		</ul>	
	<h3><%= link_to "Putter King Education - Physics (Level 2)", "http://www.slideshare.net/putterking/putter-king-education-physics-level-2", :target => "_blank" %></h3>
	<iframe src="http://www.slideshare.net/slideshow/embed_code/8589882?rel=0" width="597" height="486" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
</div>