<% provide(:title, "Putter King Scavenger Hunt 2012") %>
<% provide(:description, "Putter King Miniature Golf Scavenger Hunt 2012 - #PKSH2") %>

<div class="center education">
	<h1>Putter King Scavenger Hunt 2012</h1>
	<h2>#PKSH2</h2>
	<%= image_tag("pksh2_trophy.jpg", :alt => "Putter King Scavenger Hunt 2012", :class => "img-polaroid") %>
</div>	

<h3>Official List</h3>
<h4>Round 1 (85 total points; 230 bonus points)</h4>
<table class="table table-bordered table-hover">
  	<thead>
    	<tr>
      		<th style="width: 5%">#</th>
      		<th style="width: 45%">Task</th>
      		<th style="width: 5%">Points</th>
      		<th style="width: 45%">Bonus Points</th>
    	</tr>
  	</thead>
  	<tbody>
    	<tr>
      		<td>1</td>
      		<td>Get an autograph of a competition miniature golfer.  The autograph must be addressed to you and indicate that it is for the #PKSH2.</td>
      		<td>20</td>
      		<td>
      			<ul>
      				<li>10 bonus points for each additional autograph from a competition miniature golfer from a different country (up to 5).</li>
      				<li>40 bonus points if you can get autographs from 4 different continents.</li>
      			</ul>
      		</td>
    	</tr>
    	<tr>
      		<td>2</td>
      		<td>Complete Practice Activity #1 of the Putter King Miniature Golf Math Lesson Level 3.</td>
      		<td>20</td>
      		<td>30 bonus points if you also complete the Final Project for Putter King Math Level 3.</td>
    	</tr>
    	<tr>
      		<td>3</td>
      		<td>Photo competition - submit your most artistic / creative miniature golf photo.</td>
      		<td>5</td>
      		<td>50 bonus points available depending on the quality, artistic style, and creativity of the photo.</td>
    	</tr>
    	<tr>
      		<td>4</td>
      		<td>Picture of the Putter King wobblehead next to 8 different colored golf balls.</td>
      		<td>15</td>
      		<td>40 bonus points if you also take a picture of the Putter King wobblehead next to 8 different European competition style miniature golf balls (smooth surface balls).</td>
    	</tr>
    	<tr>
      		<td>5</td>
      		<td>Video of yourself scoring a hole-in-one on the Ninja Hole in Putter King Adventure Golf (you must be visible in the video).</td>
      		<td>25</td>
      		<td>20 bonus points if you film yourself getting an eagle on the Grand Canyon Hole in Putter King Adventure Golf.</td>
    	</tr>
    </tbody>
</table>
<h4>Round 2 (160 total points; 260 bonus points)</h4>
<table class="table table-bordered table-hover">
  	<thead>
    	<tr>
      		<th style="width: 5%">#</th>
          <th style="width: 45%">Task</th>
          <th style="width: 5%">Points</th>
          <th style="width: 45%">Bonus Points</th>
    	</tr>
  	</thead>
  	<tbody>   	
    	<tr>
      		<td>6</td>
      		<td>Set up a miniature golf hole in an office or school and film yourself playing the hole.</td>
      		<td>40</td>
      		<td>
      			<ul>
      				<li>30 bonus points if the hole incorporates a stapler, a sticky note and a 3-hole punch.</li>
      				<li>30 bonus points if you get a group picture of the office workers (or students) and the hole.</li>
      			</ul>
      		</td>
    	</tr>
    	<tr>
      		<td>7</td>
      		<td>Video of yourself making an opposite hand hole-in-one.</td>
      		<td>35</td>
      		<td>90 bonus points if you are also blind-folded.</td>
    	</tr>
    	<tr>
      		<td>8</td>
      		<td>Picture of completed scorecards from 5 different miniature golf courses. Each round of golf must have taken place after the start of this scavenger hunt.</td>
      		<td>35</td>
      		<td>None available.</td>
    	</tr>
    	<tr>
      		<td>9</td>
      		<td>Submit a picture of yourself next to a unique miniature golf obstacle.</td>
      		<td>15</td>
      		<td>40 available bonus points depending on how unique the obstacle is.</td>
    	</tr>
    	<tr>
      		<td>10</td>
      		<td>Video of yourself convincing a miniature golf course owner to give you a free game pass.</td>
      		<td>35</td>
      		<td>
      			<ul>
      				<li>20 bonus points if they say yes.</li>
					<li>50 available bonus points depending on the humor/creativity of the video.</li>
				</ul>
			</td>
    	</tr>
    </tbody>
</table>
<h4>Round 3 (395 total points; 490 bonus points)</h4>
<table class="table table-bordered table-hover">
  	<thead>
    	<tr>
      		<th style="width: 5%">#</th>
          <th style="width: 45%">Task</th>
          <th style="width: 5%">Points</th>
          <th style="width: 45%">Bonus Points</th>
    	</tr>
  	</thead>    	
    	<tr>
      		<td>11</td>
      		<td>“Speed golf”: Video of yourself finishing 5 miniature golf holes in under 40 seconds.  The video must be one continuous shot with no editing.</td>
      		<td>40</td>
      		<td>
      			<ul>
      				<li>5 bonus points for each shot you ace.</li>
					<li>5 bonus points if you are wearing the Putter King t-shirt.</li>
					<li>20 bonus points if you finish in under 35 seconds.</li>
				</ul>
			</td>
    	</tr>
    	<tr>
      		<td>12</td>
      		<td>“Longest putt competition”: Video of yourself making a long putt (you must be able to measure and report the distance of your putt).</td>
      		<td>
      			See list to right.
			</td>
      		<td>
      			<ul>
      				<li>1st place (i.e. longest putt): 120 points</li>
					<li>2nd place: 60 points</li>
					<li>3rd place: 30 points</li>
				</ul>
			</td>
    	</tr>
    	<tr>
      		<td>13</td>
      		<td>Picture of yourself playing all 4 different types of miniature golf courses: beton or concrete, eternite, felt, MOS (minigolf open system).</td>
      		<td>35</td>
      		<td>40 bonus points if you are wearing the Putter King t-shirt in each picture.</td>
    	</tr>
    	<tr>
      		<td>14</td>
      		<td>Video of yourself making a one-handed hole-in-one on a windmill hole.</td>
      		<td>105</td>
      		<td>None available.</td>
    	</tr>
    	<tr>
      		<td>15</td>
      		<td>Consecutive hole-in-one challenge: Video of yourself making as many consecutive hole-in-ones as possible. The video must be one continuous shot with no editing.</td>
      		<td>95</td>
      		<td>
      			<ul>
      				<li>20 bonus points for 6 or more consecutive holes-in-one</li>
      				<li>40 bonus points for 9 or more consecutive holes-in-one</li>
					<li>80 bonus points for 12 or more consecutive holes-in-one</li>
					<li>160 bonus points for 15 or more consecutive holes-in-one</li>
					<li>400 bonus points for a perfect 18</li>
				</ul>
				<em>*Bonus points are not additive</em><br>
				<em>*Course must be of the like that it could potentially host a competitive miniature golf tournament (i.e. no home-made courses, portable courses, etc.) If in doubt, please inquire with us.</em>
			</td>
    	</tr>
    </tbody>
</table>
<h4>Round 4 (765 total points; 850 bonus points)</h4>
<table class="table table-bordered table-hover">
  	<thead>
    	<tr>
      		<th style="width: 5%">#</th>
          <th style="width: 45%">Task</th>
          <th style="width: 5%">Points</th>
          <th style="width: 45%">Bonus Points</th>
    	</tr>
  	</thead>    	
    	<tr>
      		<td>16</td>
      		<td>Create a Rube Goldberg inspired miniature golf hole.</td>
      		<td>50</td>
      		<td>250 available bonus points depending on the complexity and creativity of the hole.</td>
    	</tr>
    	<tr>
      		<td>17</td>
      		<td>Video of yourself playing on a hole with each obstacle in our list of the Top 10 Nostalgic Miniature Golf Obstacles.</td>
      		<td>240</td>
      		<td>
      			<ul>
      				<li>5 bonus points for each hole that you are wearing the Putter King t-shirt.</li>
					<li>5 bonus points for each hole that you ace</li>
				</ul>		
			</td>
    	</tr>
    	<tr>
      		<td>18</td>
      		<td>Video of yourself making a “Rapid-fire shot”.<br> Rules: you must putt in a rapid-fire manner, each subsequent shot must be <br>hit before the previous ball goes in and each ball must be a hole-in-one.<br> You can use a helper to clear the balls from the hole.<br> You can also use a helper to set the ball on the tee.<br> You must make 4 consecutive shots.</td>
      		<td>85</td>
      		<td>100 bonus points if you make 10 consecutive rapid-fire hole-in-one shots.</td>
    	</tr>
    	<tr>
      		<td>19</td>
      		<td>Get your local TV station to do a segment on miniature golf (you must be interviewed for or appear in the segment).</td>
      		<td>350</td>
      		<td>200 bonus points if it is a national station.</td>
    	</tr>
    	<tr>
      		<td>20</td>
      		<td>Video of yourself successfully making a trick miniature golf shot.</td>
      		<td>40</td>
      		<td>200 available bonus points depending on the difficulty and complexity of the shot.</td>
    	</tr>
  	</tbody>
</table>