<% provide(:title, "Putter King Scavenger Hunt 2011") %>
<% provide(:description, "Putter King Miniature Golf Scavenger Hunt 2011 - #PKSH1") %>

<div class="center education">
	<h1>Putter King Scavenger Hunt 2011</h1>
	<h2>#PKSH1</h2>
	<%= image_tag("pksh1_trophy.jpg", :alt => "Putter King Scavenger Hunt 2011") %>
</div>	

<h3>Official List</h3>	
<table class="table table-bordered table-hover">
  	<thead>
    	<tr>
      		<th style="width: 5%">#</th>
          <th style="width: 45%">Task</th>
          <th style="width: 5%">Points</th>
          <th style="width: 45%">Bonus Points</th>
    	</tr>
  	</thead>
  	<tbody>
    	<tr>
      		<td>1</td>
      		<td>Autographs of 2 professional miniature golfers, each from a different country.</td>
      		<td>45</td>
      		<td>5 bonus points if the professional miniature golfers are also from 2 different continents)</td>
    	</tr>
    	<tr>
      		<td>2</td>
      		<td>Picture of yourself next to each obstacle in our list of the Top 10 Nostalgic Miniature Golf Obstacles.</td>
      		<td>120</td>
      		<td>20 bonus points for each obstacle that exactly matches the one pictured in the article</td>
    	</tr>
    	<tr>
      		<td>3</td>
      		<td>Build your own full-size miniature golf hole.</td>
      		<td>75</td>
      		<td>Up to 100 bonus points available depending on the craftsmanship, playability, creativity and fun factor of your hole.</td>
    	</tr>
    	<tr>
      		<td>4</td>
      		<td>Video of yourself making a hole-in-one on two consecutive miniature golf holes. The video must be one continuous shot with no editing.</td>
      		<td>60</td>
      		<td>None available.</td>
    	</tr>
    	<tr>
      		<td>5</td>
      		<td>Picture of yourself with the Putter King mascot.</td>
      		<td>50</td>
      		<td>15 bonus points if you are wearing a Putter King t-shirt.</td>
    	</tr>
    	<tr>
      		<td>6</td>
      		<td>Picture of yourself with the completed Putter King wobblehead.</td>
      		<td>15</td>
      		<td>15 bonus points if the picture is taken at a miniature golf course.</td>
    	</tr>
    	<tr>
      		<td>7</td>
      		<td>Picture of a completed scorecard from a round of miniature golf. The round of golf must have taken place after the start of this scavenger hunt.</td>
      		<td>10</td>
      		<td>None available.</td>
    	</tr>
    	<tr>
      		<td>8</td>
      		<td>Picture of completed scorecards from 5 different miniature golf courses. Each round of golf must have taken place after the start of this scavenger hunt.</td>
      		<td>35</td>
      		<td>None available.</td>
    	</tr>
    	<tr>
      		<td>9</td>
      		<td>Submit an entry to the 2011 Putter King Hole Design Contest.</td>
      		<td>60</td>
      		<td>40 bonus points if your entry gets more than 100 votes.</td>
    	</tr>
    	<tr>
      		<td>10</td>
      		<td>Screenshot from the Putter King app showing a 9-hole score below par.</td>
      		<td>10</td>
      		<td>None available.</td>
    	</tr>
    	<tr>
      		<td>11</td>
      		<td>Screenshot from the Putter King app showing that you have successfully unlocked all of the holes in the game.</td>
      		<td>45</td>
      		<td>None available.</td>
    	</tr>
    	<tr>
      		<td>12</td>
      		<td>Picture of the Putter King wobblehead at a World Heritage Site.</td>
      		<td>55</td>
      		<td>None available.</td>
    	</tr>
    	<tr>
      		<td>13</td>
      		<td>Complete and submit the Putter King ‘Practice Activity’ and ‘Final Project’ for any one of the Putter King math or physics lessons.</td>
      		<td>40</td>
      		<td>20 bonus points if you complete two lessons.</td>
    	</tr>
    	<tr>
      		<td>14</td>
      		<td>Picture of yourself with at least 6 different colored miniature golf balls.</td>
      		<td>10</td>
      		<td>2 bonus points for each additional color (limit of 10 bonus points).</td>
    	</tr>
    	<tr>
      		<td>15</td>
      		<td>Picture of yourself with a famous golfer or miniature golfer.</td>
      		<td>15</td>
      		<td>150 bonus points if the golfer is on the PGA tour AND you are wearing a Putter King t-shirt in the picture.</td>
    	</tr>
    	<tr>
      		<td>16</td>
      		<td>Video of yourself making a hole-in-one on a miniature golf hole with a loop-de-loop obstacle.</td>
      		<td>30</td>
      		<td>None available.</td>
    	</tr>
    	<tr>
      		<td>17</td>
      		<td>Video of yourself successfully making a trick miniature golf shot.</td>
      		<td>40</td>
      		<td>Up to 100 bonus points available depending on the difficulty and complexity of the trick shot.</td>
    	</tr>
    	<tr>
      		<td><strong>Total</strong></td>
      		<td></td>
      		<td><strong>715</strong></td>
      		<td><strong>655</strong></td>
    	</tr>
  	</tbody>
</table>