<% provide(:title, "Adventures on the Crazy World of Minigolf Tour") %>
<% provide(:description, "Putter King Blog - Adventures on the Crazy World of Minigolf Tour") %>

<div class="center margin_header">
	<h1>
		Adventures on the 
		<br>
		Crazy World of Minigolf Tour
	</h1>
	<h3>
		Part III of the Putter King Interview Series
		<br>
		An Interview with Richard Gottfried
	</h3>
	<%= image_tag("richard.jpg", :alt => "Richard Gottfried", :class=> "img-polaroid") %>
</div>	
<div class="blog_text">
	<p>
		<em>
			Richard Gottfried is a British Minigolf Association (BMGA) Tour Pro, Great Britain International Minigolfer and a member of the 2008 BMGA British Club Champions – the Midlands Minigolf Club.  He and his wife/Coach/Opponent and sometimes team-mate Emily have played many many Crazy Golf and Minigolf courses on their Crazy World of Minigolf Tour.  For more information, check out his blog: <%= link_to "The Ham and Egger Files", "http://hamandeggerfiles.blogspot.jp" %>.
		</em>	
	</p>
	<h4>
		How popular is miniature golf in the UK?
	</h4>
	<p>	
		Miniature Golf is incredibly popular as a past-time here in the UK, most seaside resorts have a Crazy Golf course or two, and some like Hastings and Great Yarmouth have quite a few.  It’s estimated that at least two million people play Minigolf every year in the UK and it’d be quite difficult to find somebody over here who has never heard of the game.
 		<br>
 		<br>
		As a competitive sport it is growing in popularity, with new courses opening up and the British Minigolf Association (BMGA) organises around 20 tournaments for its members each year. The BMGA has been organising events since 1998 and I have been a member of the BMGA Tour since 2007.
	</p> 
	<h4>
		There are many names throughout the world for miniature golf.  What is it usually called in the UK?
	</h4>
	<p>	
		Miniature Golf in the UK is generally known as Crazy Golf. Many courses that people play use this name and will feature crazy, weird and wonderful obstacles to putt through.
 		<br>
 		<br>
		It is becoming more popular for courses to be called Adventure Golf as they are trying to move away from the seaside image of Windmills and Clowns for obstacles, instead opting for Jungle or Pirate Themes. Some of these are opening up in shopping centres and leisure parks and want to move away from the Crazy Golf name.
		<br>
		<br> 
		Mini Golf, Minigolf and Miniature Golf are good ways to describe the game too, but some people I talk to often think that I mean Pitch and Putt Golf when I say I play Minigolf, but instantly know what I mean when I say Crazy Golf.
	</p>
	<h4>	
		Miniature golf isn't very popular yet in Japan. For someone who has never played the game before, for what reasons would you recommend it to them?
	</h4>
	<p>	
		It’s a fun game and something most people can very easily and quickly get the hang of. It can be frustrating at times and good courses aren’t designed to be easy, but it is also a brilliant feeling to score a hole-in-one, and especially nice to beat your playing partner.
 		<br>
 		<br>
		In a way it’s quite like tenpin bowling as a sport, where almost anyone can play the game, but it can take time and practice to improve things such as technique and the mental side of the game.
 		<br>
 		<br>
		I’d say that if someone has never played the game then they should head to their nearest course, give it a try, and have fun!
	</p>	 
	<h4>
		What originally got you interested in miniature golf?
	</h4>
	<p>	
		I must have picked up a putter to play Crazy Golf when I was a small child, and I still remember playing the game in my hometown of Abingdon (the course is still there) back in the 1980’s. I also remember playing the game on holidays with my family at seasides in England and Wales.
 		<br>
 		<br>
		In 2006 my wife Emily and I decided to visit as many seasides in the UK as possible, as well as compete in a number of interesting and different sports. On one of our first seaside trips we visited my brother in Southsea (on the south coast of England) where there was a Pirate-themed Adventure Golf course which we had a round on. When I got home I had a look on the internet and found out about the world of competition minigolf organised by the BMGA and signed up to compete in their tournaments. The rest as they say is history. In the past four and a half years we’ve travelled around most of the UK, visited lots of seasides, towns, cities, crazy golf courses, and made a lot of great friends through minigolf.
	</p>	 
	<h4>
		Do you have a favorite type of miniature golf course (Minigolf Open Standard, Eternit, Feltgolf, Concrete, etc.)?
	</h4>
	<p>		
		Honestly, if it involves using a putter and a ball I’ll play it, no matter what it looks like or what it is made of. Some courses I’ll play as a one-off, others I play as they are on the competition circuit, and some others I’d be happy to play time and time again because they are a great fun way to spend time with friends and family. 
 		<br>
 		<br>
		The most common type of course I play would be grouped under the term ‘Minigolf Open Standard’, as in the UK it’s rare to find the other types. 
	</p>	 
	<h4>
		How would you describe your putting style?
	</h4>
	<p>		
		Variable!
 		<br>
 		<br>
		I prefer to use the ‘European style’ with my grip using my left-hand below my right, and having a wide-leg stance like many minigolfers adopt. It felt strange to play like this at first, but it seems to make sense on the Crazy Golf course, but looks slightly out of place if I ever play a round of ‘Big’ Golf!
	</p>	 
	<h4>
		How would you describe your putting style?
	</h4>
	<p>	
		I’m steady and precise. I always have a path envisioned for the ball before I hit it. Although I’m capable of spectacular shots now and then, I’d say that having a steady, predictable stroke is more my hallmark. This is probably backed up by the fact that 250 of my 280 rounds during the 24-hour record fell in the 35-42 range. 
	</p>	 
	<h4>
		What is your most memorable miniature golf moment?
	</h4>
	<p>		
		Anytime I win minigolf tournaments is memorable, but some of my competition victories are distant memories now (ha ha).
 		<br>
 		<br>
		I’d say playing for Great Britain at the WMF Nations Cup in Tampere, Finland stands out as a very memorable experience. I never imagined that one-day I’d be representing my country in an international sport.
 		<br>
 		<br>
		I’ve also played in four World Crazy Golf Championships and the first time I lined up to compete for a world title stands out as a great experience, despite the fact the tournament is held at an English seaside in October, so is not always the most dry or warm weekend of the year!
	</p>	 
	<h4>
		Any interesting or fun holes you have played that stand out in your mind?
	</h4>
	<p>		
		To date I’ve played 224 minigolf courses and visited 120 more that have turned out to be closed, derelict or flooded! I’ve putted through Windmills, Rockets, Whales, Lobsters, Pirate Ships, Loops, Tunnels, Caves and more. Honestly there are too many great holes out there!
 		<br>
 		<br>
		Two of my favourite courses are in Stratford on Avon where there is a fantastic Minigolf Course that rewards excellent putting skill, the other is the classic Arnold Palmer Crazy Golf Course in Hastings, which has some terrific holes and obstacles, including the traditional Windmill.
	</p>	 
	<h4>
		Any advice for our audience about creating an entry for the Putter King Hole Design Contest?  What advice would you give to help make an entry stand out from the crowd?
	</h4>
	<p>		
		Make it fun, to me that is the key thing about playing Crazy Golf, or whatever you prefer to call the game. Without it being fun, why play at all?
 		<br>
 		<br>
		Anything with an interesting obstacle to putt over, through, under or around would be good, and as long as there is a chance for a hole-in-one with a well aimed shot that would be great too.
	</p>	
</div>		