<% provide(:title, "An Insight into Creativity and Imagination") %>
<% provide(:description, "Putter King Blog - An Insight into Creativity and Imagination") %>

<div class="center margin_header">
	<h1>
		An Insight into 
		<br>
		Creativity and Imagination
	</h1>
	<h3>
		Part I of the Putter King Interview Series
		<br>
		An Interview with Patrick Washburn
	</h3>
	<%= image_tag("patrick.jpg", :alt => "Patrick Washburn", :class=> "img-polaroid") %>
</div>	
<div class="blog_text">
	<p>
		<em>
			Patrik Washburn is an artist and writer who has been living in Japan for over 17 years.  He is a pop/subculture junkie and he loves to create and tell stories through whatever media available: art, books, comics, music, film, television, animation, and live performance.  Putter King sat down with Patrik to try to find out what inspires him.
		</em>	
	</p>
	<h4>
		How did you get into drawing and art?
	</h4>
	<p>	
		I've been drawing for as long as I can remember, but I didn't consider myself an artist until about 5 years ago when I started making a living at it.
	</p> 
	<h4>
		Where do you get your creative inspiration from?
	</h4>
	<p>	
		Great stories inspire me. Exotic locales inspire me. Beauty in all its forms inspires me. My wife Saho is my muse. Whenever I'm stuck creatively, I draw her and the ideas just start flowing.
	</p>
	<h4>	
		What advice would you give to kids who want to become artists?
	</h4>
	<p>	
		The same advice I got as a kid: Draw! Draw! Draw! It's a skill that you hone, not a talent you're born with. Get those ideas on paper, date them, and keep them. You'll be able to track your progress.
	</p>	 
	<h4>
		What is the best way to improve one’s creativity?
	</h4>
	<p>	
		Live. Live a lot. Have experiences, take chances, step outside your safety zone. Input is key.
	</p>	 
	<h4>
		You are a great storyteller.  Storytelling requires great imagination, creativity and communication skills.  How can we become better storytellers and communicators?
	</h4>
	<p>		
		Having a great story is always the best thing. Be honest with yourself and tell the stories that come from your experiences. The stronger you feel about your story, the more that others will connect with it.
	</p>	 
	<h4>
		We always learn from the great ones that came before us.  Which artists, writers, or storytellers influenced you?
	</h4>
	<p>		
		The list is endless. I really love comic strips and radio shows from the first half of the 20th century. Philip K. Dick, Ray Bradbury, Stephen King, H. P. Lovecraft are some of my favorite authors. Richard Stark's Parker series is a recent treat. Comic Books are my true love, however and there still aren't many out there that can beat Frank Miller, Alan Moore, Mike Mignola, Roy Thomas or Jeff Smith. For comic illustration, Sempe and Sergio Aragones are the masters. 
	</p>	 
	<h4>
		Any advice for our audience about creating an entry for the Putter King Hole Design Contest?  What advice would you give to help make an entry stand out from the crowd?
	</h4>
	<p>	
		Of course there should be challenge to a hole, but most of all it should be fun. Fun often means surprise. Also, have more than one way to beat a hole. A six-year old and a sixty-year old should both have fun and not be too frustrated. Good luck, everyone and I look forward to seeing the designs!
	</p>	 
</div>		