<% provide(:title, "A Dentist’s Precision") %>
<% provide(:description, "Putter King Blog - A Dentist’s Precision") %>

<div class="center margin_header">
	<h1>A Dentist’s Precision</h1>
	<h3>
		Part II of the Putter King Interview Series
		<br>
		An Interview with USPMGA U.S. Open Champion Brad Lebo
	</h3>
	<%= image_tag("dentist.jpg", :alt => "Brad Lebo", :class=> "img-polaroid") %>
</div>	
<div class="blog_text">
	<p>
		<em>
			Brad has been a professional miniature golfer since 1991 and has over $112,000 in career money winnings.  When not busy practicing dentistry you can usually find Brad competing and winning on miniature golf courses around the USA.
		</em>	
	</p>
	<h4>
		There are many names for miniature golf throughout the world. What is it usually called in the USA?
	</h4>
	<p>	
		The general public usually refers to the game as "miniature golf" in the USA.  Sometimes I also have heard people in the general public refer to the game as "Putt-Putt", although "Putt-Putt" really is just the name of a chain of miniature golf courses in the USA.  (Referring to miniature golf as "Putt-Putt" would be analogous to referring to a tissue as a "Kleenex".)
	</p> 
	<h4>
		How do you prepare for a tournament?  Do you study each hole extensively?
	</h4>
	<p>	
		It depends on the tournament.  I generally play a schedule of about 45-50 professional tournaments per year between late February and mid-October.  For a typical weekend of 2 or 3 non-major tournaments, I try to get to the tournament site to allow for 1.5-2 full days of pre-tournament preparation.  I'll usually spend at least the initial 3 hours of the first day at a tournament site learning the ace shots on the holes, charting deuce putts, and acclimating to the speed of the course's carpets.  I will spend most of the rest of the practice time playing rounds for score, which helps in fine tuning both the ace shots and deuce information and testing them in various conditions and at various times of day. 
 		<br>
 		<br>
		For major national level tournaments, I will try to get to the tournament site at least 4 days in advance.  For the PPA National Championship week, I will try to allow at least 7 or 8 days of preparation prior to the tournaments.
	</p>
	<h4>	
		How many practice rounds on the course do you usually do before a tournament?
	</h4>
	<p>	
		Once I have established the initial information about the ace shots and the deuce putts, I will play many practice rounds in each day of practice.  I probably will play between 16-24 practice rounds in a typical day of practice, sometimes even more.  The number of practice rounds logged on a practice day often will be dependent upon how crowded the course is with other tournament players as well as customers.
	</p>	 
	<h4>
		What is the most prestigious tournament for miniature golfers?
	</h4>
	<p>	
		In the United States, there currently are two major professional miniature golf organizations: the Professional Putters Association (PPA) and the United States ProMiniGolf Association (USPMGA).  Each of those two organizations has its own schedule of tournaments each year.  Until 2005, members of the PPA were forbidden to play in USPMGA tournaments.  The PPA lifted that ban in 2005, and since that time PPA players have been able to compete in USPMGA events as well.
 		<br>
 		<br>
		The most prestigious tournament title for professional players in the Professional Putters Association (PPA) is the PPA National Championship.  That title certainly would be considered the crown jewel of the sport in the United States.  I had the good fortune to win that tournament in 2006 in Augusta, GA.  I have had a good run in that tournament in recent years.  In the past six seasons, I have won the PPA National Championship once (2006), finished 2nd three times (2005, 2007, 2010), and finished third once (2008).
		<br>
		<br>
		In the USPMGA, there are two major national titles which would be considered the most prestigious titles of that organization: the USPMGA Masters National Championship and the USPMGA U.S. Open.  Due to the prior PPA rule/ban mentioned above, I was not able to compete in those events until 2005.  Since then, I have won the USPMGA Masters Championship (in 2008) and the USPMGA U.S. Open twice (in 2006 and 2010).  I will be defending the USPMGA U.S. Open title in Branson, MO this month.
	</p>	 
	<h4>
		Have you ever played miniature golf abroad?  Were there any differences you noticed?
	</h4>
	<p>		
		I have not competed in miniature golf tournaments in other countries outside of the USA.  I know that there would be very significant differences between professional miniature golf in the USA and some other countries/continents.  Differences would include different types of balls used/required, different putting surfaces, different materials used for rails, different rules and tournament formats, etc.
	</p>	 
	<h4>
		Miniature golf isn't very popular yet in Japan. For someone who has never played the game before, for what reasons would you recommend it to them?
	</h4>
	<p>		
		On the recreational level for the general public, miniature golf provides a relatively inexpensive and non-time consuming fun family activity.
	</p>	 
	<h4>
		What originally got you interested in miniature golf?
	</h4>
	<p>	
		My first introduction to miniature golf was at age 28 while I was finishing dental school at the University of Pennsylvania in Philadelphia, PA.  I had played a round of golf with some friends in suburban Philadelphia on a Wednesday afternoon and we decided to stop at the Putt-Putt Golf Course in Clifton Heights, PA on the way back to campus.  Coincidentally, the weekly Wednesday night local tournament was being held there while we played our round.  I never had heard of a miniature golf tournament and was immediately intrigued by the competition.  I returned the following Wednesday night and competed in the local tournament and soon met some of the more talented local players who showed me some of the basics about the game.  Soon I began traveling with some of them to professional miniature golf tour events.  I competed in the amateur division of the PPA in 1989 and 1990.  In 1991, I turned professional and have been playing full tour schedules as a professional every year since then.
 		<br>
 		<br>
		My story is fairly unique among the elite professional miniature golfers in the USA.  Most of my peers in the sport began competing in tournaments at a very young age and either lived near and/or worked at a Putt-Putt/miniature golf course.
	</p>	 
	<h4>
		Do you have a favorite type of miniature golf course (Minigolf Open Standard, Eternit, Feltgolf, Concrete, etc.)?
	</h4>
	<p>		
		In the USA, we do not compete on many of the types of courses which you have listed above.  Those courses are more prevalent in Europe and other parts of the world. 
 		<br>
 		<br>
		Tournaments in the Professional Putters Association (PPA) generally are held on Putt-Putt Golf Courses, which generally are highly skillful courses.  Those courses have standard rails made of either aluminum or composite material, Challenger carpet (a grained, smooth-rolling indoor/outdoor carpet designed for use in the sport), and standardized square rubber tee mats. Almost every hole has at least one legitimate shot for an ace, and the premium on most courses is on making as many aces as possible and scoring as low as possible.  There are obstacles, hills, etc. which are strategically placed on some of the holes.
		<br>
		<br>
		Tournaments in the USPMGA usually are contested on more classic miniature golf layouts.  The hole designs are often more elaborate and longer than those seen on PPA courses and the holes are most often bordered by bricks and/or concrete rails.  There are not as many realistic aces opportunities on the USPMGA courses as compared with PPA courses.  The emphasis on the USPMGA courses is on patience, course management, and mastering the many difficult and often-lengthy breaking deuce putts. 
		<br>
		<br>
		As an example of the difference in scoring between the two types of courses, I finished third (lost by two strokes) in the 12-round PPA National Championship in Richmond, VA in 2008 with a 12-round total of 286 (which is 146-under par).  By comparison, a month later I won the 12-round 2008 USPMGA Masters National Championship in North Myrtle Beach, SC by two strokes with a 12-round total of 396 (which is 33-under par).  Note:  All holes on both the PPA and USPMGA courses are considered to be "par 2", so 36 is "par" on every course for the purposes of professional competitions.
	</p>	 
	<h4>
		How would you describe your putting style?
	</h4>
	<p>		
		I would say that I am a methodical, detail-oriented, and precision player who is rather conservative from a standpoint of course management.
	</p>	 
	<h4>
		Any memorable miniature golf moments?
	</h4>
	<p>		
		I have 79 career tour victories in my professional miniature golf career, so there certainly are many memorable moments.  Every victory is quite special.  But my most cherished memory is winning the PPA National Championship in Augusta, GA in July 2006.  The PPA National Championship was an 8-round, 2-day tournament that year, and I had built up a 6-stroke lead over the field with one round to play.  I played solidly throughout the final round and had the luxury of conservatively laying up the final four holes of the tournament (for tap-in deuces) to secure the title.  The exhilaration and also relief of capturing the sport's most prestigious title were overwhelming.
	</p>
	<h4>
		Any interesting or fun holes you have played that stand out in your mind?
	</h4>
	<p>		
		There are numerous holes which I have played throughout my career which are interesting and creatively-designed.  Several which come to mind:
 		<br>
 		<br>
		In North Myrtle Beach, SC on the Hawaiian Village course, one of the courses used in the USPMGA Masters National Championship tournament, the 15th hole is a long, slight dogleg hole in which the player is required to hit the ball with massive hook spin about a millimeter to the left of the bricks on the long initial right rail, out of a distant corner made of large wooden boards, and back into a sloping box in the dogleg to the right where the hole is centrally located.  Without an tremendous amount of hook spin, the ball will not get to the hole and will fall into a large waste area and leave the player various awkward triple-breaking deuce putts of 7-10 feet.  However, if the tee shot is hit accurately and with adequate hook spin, the hole actually is a reasonably and surprisingly good ace.
		<br>
		<br>
		At the Putt-Putt Fun Center in Lynchburg, VA, the 8th hole of course # 2 has a unique U-shaped design.  In order to ace the hole, the ball must be struck from the tee mat onto a short, flat surface and then up a very long and steep incline, onto an upper plateau, and into the right third of a fairly small triangular obstacle.  After hitting the obstacle in the designated spot, the ball carries into an extremely narrow and steep downslope which is at a 90-degree angle to the initial path of the ball.  The ball hits the far side of the rail bordering the downslope and as it reaches the bottom of the downslope it reaches a box in the lower tier and hits an angleboard.  After hitting the angle board, the ball carries 90 degrees into a far rail, into a back rail, and finally into the cup.  The hole was carefully designed so that if the player hits the triangle on the top plateau in the correct place, the player should be able to ace the hole.
	</p>
	<h4>
		Any advice for our audience about creating an entry for the Putter King Hole Design Contest?  What advice would you give to help make an entry stand out from the crowd?
	</h4>
	<p>		
		The most interesting holes and most often the best and/or most challenging tournament competition holes are holes on which a perfectly-struck ace putt is rewarded with an ace, but on which a marginal or poorly-hit tee shot is heavily penalized with a significant negative consequence.   Similarly, risk/reward holes also can be very interesting.
	</p>	
</div>		