<% provide(:title, "The Minigolf Machine") %>
<% provide(:description, "Putter King Blog - The Minigolf Machine") %>

<div class="center margin_header">
	<h1>The Minigolf Machine</h1>
	<h3>
		Part VI of the Putter King Interview Series
		<br>
		An Interview with Oliver Florence
	</h3>
	<%= image_tag("oliver.jpg", :alt => "Oliver Florence", :class=> "img-polaroid") %>
</div>	
<div class="blog_text">
	<p>
		<em>
			Oliver "The Machine" Florence is a journalist from Surrey, U.K. who decided to take up miniature golf in 2009. You can follow his career exploits on his <%= link_to "blog", "http://theminigolfer.wordpress.com" %> or through his <%= link_to "twitter feed @MiniGolfOllie", "http://twitter.com/minigolfollie" %>.
		</em>	
	</p>
	<h4>
		How did you get involved in professional miniature golf in the U.K.?
	</h4>
	<p>	
		I always like to have some sort of project on the go and a couple of years ago I was looking about for a new hobby to keep me occupied. I can't remember exactly how I stumbled upon the idea of miniature golf but I started to play quite a lot at my local course in London and enjoyed it. I did some research on the internet and came across the British Minigolf Association (BMGA), which organises regular tournaments for members. I was also inspired by the blog of fellow minigolfer Richard Gottfried and, as a journalist, I thought it would be interesting for me to start playing a new sport and to document my experiences online.
 		<br>
 		<br>
		I made my debut on the tour in Birmingham in January last year and have now played in about 20 tournaments. I've visited some great places and made some really good friends so I would recommend it to everyone.
	</p> 
	<h4>
		What are your future miniature golf goals?
	</h4>
	<p>	
		I have set myself the target of breaking in to the top 20 in the BMGA Order of Merit. I'm currently at a career high of number 27 and heading in the right direction and I feel I have come on a long way since I started playing regularly about 18 months ago. I've noticed that the standard of play has really improved, even in the time that I have been playing, so you need to keep upping your game just to keep on the tails of everyone else.
 		<br>
 		<br>
		I am also in the process of helping to set up a new minigolf club (Cambridgeshire Minigolf Club) with British Champion James Rutherford and Asian Open runner-up Richard Skeggs. It will take a while to get established but in the long term we hope to set up our own minigolf course somewhere in the country to allow more people to play. There is also the British Club Championships in December and it would be nice for our club to put on a good showing there.
	</p>
	<h4>	
		Last year you competed in the Asian Open in Kunming, China. Tell us about your experience.  Did you have any minigolf culture shock?
	</h4>
	<p>	
		It is all still quite unbelievable how it came about. Skeggs and myself had been playing for less than a year when I saw on the internet that the Asian Open was coming up. From the pictures online I was struck by how amazing the Hello! Minigolf Club course looked and thought it would be a bit of an adventure to go out there and take on the world. When we learnt that we could go as the official British team, we jumped at the chance.
 		<br>
 		<br>
		We had not been to China before so it was a bit of culture shock when we got out there. It wasn't a great start when we got lost on the taxi ride on the way from the airport and almost ended up in the wrong hotel with the Iranian women's team! We also had a few problems with the food and got to taste some interesting creations like dove soup. Overall though we were struck by how friendly everyone was. At the after tournament party we even got to take part in a birthday cake fight, which I believe is a tradition in China?!
		<br>
		<br>
		On the course, it wasn't so much of a shock for us as the adventure golf style holes were very similar to what we were used to playing on at home. The tournament was played on two courses so we needed to spend a couple of days getting used to all the different holes. We were confident of doing quite well but Skeggs really surpassed expectations and managed to finish second behind Marcel Noack of Germany. It was an incredible achievement to run Marcel so close, as he is an experienced player from a top minigolf country. It topped off an amazing trip.
		<br>
		<br> 
		When we got back we got a bit of media attention for our exploits and were even invited on a to a TV comedy show as 'mystery guests'. We had to dress up in traditional golfing attire and putt through a windmill infront of an audience of several hundred people, which was quite an experience and not something we would have expected to have been doing when we started playing the game.
	</p>	 
	<h4>
		What are the features or characteristics of a great miniature golf course? 
	</h4>
	<p>	
		I think a great course has to have a mixture of easy and more challenging holes. It's daunting for beginners if every hole seems impossible and might very well put them off the game. Having said that, there should be one or two holes that really test your putting. Volcano-style holes are always good as they reward bravery but can very well break a decent round.
	</p>	 
	<h4>
		What is your most memorable miniature golf moment?
	</h4>
	<p>		
		Apart from playing in China, the most memorable moment would have to be when Skeggs and myself were runners-up in this year's British Doubles Championships. We needed an ace on the last hole to take the final in to a play-off and I managed it with a rebound off the back wall. Everyone started cheering and I didn't know what to do with myself!
	</p>	 
	<h4>
		Any interesting or fun holes you have played that stand out in your mind?
	</h4>
	<p>		
		After we had finished in China, we had a couple of days in Hong Kong. We went to the beach at Shek O to play minigolf but weren't overly impressed so decided to build our own hole. We set to work with bucket and spade and managed to put together one by the sea in about an hour. It had sand borders and sand castles as obstacles. We then used the spade as a club and a plastic football as the ball. It was great fun to play and even seemed to go down well with some of the local girls who had a go. It's a shame to think that it has probably now been swallowed up by the South China Sea!
	</p>	 
	<h4>
		Miniature golf isn't very popular yet in Japan. For someone who has never played the game before, for what reasons would you recommend it to them?
	</h4>
	<p>	
		We met lots of good Japanese players at the Asian Open like Yuki Koshimura and Kazuya Sato and it would be great if more people took up minigolf in Japan. The good thing about the game is that, unlike some other sports, it is accessible to everyone regardless of age or ability. If you have not played it before I would recommend just giving it a go. You never know, you might become hooked and you could be representing Japan at the next Asian Open in Thailand next year.
	</p>	 
	<h4>
		Any advice for our audience about creating an entry for the Putter King Hole Design Contest?  What advice would you give to help make an entry stand out from the crowd?
	</h4>
	<p>		
		Don't make the hole too complicated. The best ones are usually those that are simple so don't crowd the green with obstacles. Try to reward a good tee shot by making sure there is an ace line. Above all though make it fun and don't be scared to make it different to anything you've ever seen before.
	</p>	 
</div>		