<% provide(:title, "Minigolf Ninjas") %>
<% provide(:description, "Putter King Blog - Minigolf Ninjas") %>

<div class="center margin_header">
	<h1>Minigolf Ninjas</h1>
	<h3>
		Part V of the Putter King Interview Series
		<br>
		An Interview with Pat Sheridan and Mandy Ranslow
	</h3>
	<%= image_tag("ninjas.jpg", :alt => "Putting Penguin Putt", :class=> "img-polaroid") %>
</div>	
<div class="blog_text">
	<p>
		<em>
			<%= link_to "The Putting Penguin", "http://www.theputtingpenguin.com" %> is a miniature golf review website that features reviews from over 200 courses from 30 states and 7 countries. The core Putting Penguin team provides the official reviews and visitors provide reviews for courses they haven't been to.
		</em>	
	</p>
	<h4>
		What motivated you to start a miniature golf review site? 
	</h4>
	<p>	
		Our motivation was a course in Farmington, Connecticut, U.S.A. that had one of the strangest rules we’ve ever seen.  They only allowed 3 people to a group.  This seemed counterintuitive since a common number of players in golf and miniature golf is 4 (so, two couples or parents with 2 kids).  We happened to have 4 people playing that night and the attendant (in a very unpleasant manner) said they would “allow” us to play together if we would “move it along.”  It made us feel rushed for the whole game and put an unpleasant stain on what should have been a fun night of entertainment.  At that point we wanted to tell the world about our experience so we wrote it up and posted it online. 
 		<br>
 		<br>
		During that same summer we decided it would be a fun idea to try to play every miniature golf course in Connecticut and do reviews of all the courses, comparing and contrasting their styles.  It wasn’t long before we expanded the site to include courses beyond Connecticut, and we also decided it would be great to get other people’s input.  From there The Putting Penguin was born.
		<br>
		<br>
		A lot of people want to know why we chose the name.  It was simple.  We were looking for a name for our growing site, and there happened to be a plush penguin in Pat’s line of sight.  The name Putting Penguin came out and it just sounded right.  Little did we know it would turn into our own little brand.
	</p> 
	<h4>
		Can you explain your site's rating system? 
	</h4>
	<p>	
		We rate courses on 3 criteria: difficulty, creativity and atmosphere, with atmosphere being the most important.  Each criterion is rated on a scale of 1-10. Difficulty relates to how hard the course is to play for the average person.  While we tend to be above average due to the amount of minigolf we play, we try to see the course through the skills of people who play minigolf recreationally.  A more difficult course doesn’t make for a worse course in our eyes (unless it’s so difficult that it’s not fun) but we thought it important to let people know what they were in for in terms of scores.
 		<br>
 		<br>
		Creativity relates to the style of holes. The more plain and common the holes are, the lower on the creativity scale the course is scored. To score high on this rating a course really needs to have come up with designs that we haven’t seen very often.
		<br>
		<br>
		Atmosphere is the overall rating and it’s what we use to “rank” courses. This score takes into account how well a course uses a theme, how clean the course is, how friendly the staff is, the value for the money you are paying, what the layout is like (is it easy to get around and are you running into people at each hole), is it shady in the heat of summer, are the bricks/edges/carpeting in good condition, do they do anything over the top? We try to incorporate all aspects of the course into this rating. A 10 in this rating means we’re telling everyone we know about your course. 
	</p>
	<h4>	
		Which course in the USA received your highest rating and why?
	</h4>
	<p>	
		Perils of the Lost Jungle in Herdon, Virginia has earned our only 11 in the atmosphere rating. We originally played that course in 2003 and re-affirmed that rating in 2009.  It’s the best course we’ve ever played and it will take a lot to top it. They went and made a Disney-esque Jungle in the middle of a field and populated it with amazing animatronics and wonderful minigolf. It’s like stepping onto an Indiana Jones movie set and playing a round of miniature golf. Not only that but they are continually updating and improving the course (there were several enhancements made in the 6 years between our reviews). This course was so good that we played it in the afternoon and purposely went back to play it at night to see what it would be like. It’s so much like a movie that they have multiple teaser videos on their website. We recommend it to everyone who asks.
	</p>	 
	<h4>
		What are the features or characteristics of a great miniature golf course? 
	</h4>
	<p>	
		There are several things that make a great course but the most important are: theme, cleanliness, upkeep, and layout.  A dirty course (either garbage or leaves and rocks) is always a turn off and makes for tough putting.  It’s important to make sure carpets, obstacles, and cups are well maintained so that players get the full and true experience of how the course should play (there’s nothing worse than hitting a seam in the carpet when putting or having a bad bounce in an obstacle because of disrepair). Layout is important because you want people to be able to move freely and not feel like they are putting on top of the group in front or behind them.  Theme makes or breaks a “great” course because the average person might not remember individual holes but they will remember the awesome pirate ship or amazing jungle.
	</p>	 
	<h4>
		What originally got you interested in miniature golf? 
	</h4>
	<p>		
		<strong>Pat</strong>: For me it’s the simplicity of the game and variety of courses.  In “big” golf you get to see different landscapes and courses, but they all sort of look the same in the end.  In miniature golf the themes and holes can be so different from course to course that it’s amazing to see what people come up with.  It’s also a game that I know I’ll be able to play almost my entire life.
		<br>
		<br>
		<strong>Mandy</strong>: Mini golf has been a part of my life since childhood.  Not only is it a fun activity that can be enjoyed at any age; it is quite affordable.  I fondly remember playing mini golf at the local course in Ellington, CT with my mother, brother, aunts, and cousins.  Mini golf was also a staple of our family vacations.  Mini golf’s greatest appeal to me is that a person can take it as casually or seriously as they want and still have a good time playing.
	</p>	 
	<h4>
		Miniature golf isn't very popular yet in Japan. For someone who has never played the game before, for what reasons would you recommend it to them? 
	</h4>
	<p>		
		It’s a game where everyone can do well and have fun no matter what skill level you are.  The windmill and loop-de-loop can be a great equalizer among friends and family.  It’s a game that doesn’t take long to play (even on a crowded course rounds usually take less than an hour), it’s relatively budget friendly (cheaper than going to the movies), and you can easily talk to other members in your group and have a true group entertainment experience.  On top of that, if you can think of a theme you can turn it into a miniature golf course, which makes the experience of trying out new courses so much fun.
	</p>	 
	<h4>
		What is your most memorable miniature golf moment? 
	</h4>
	<p>	
		<strong>Pat</strong>: I have so many that it’s hard to pick, but I wanted to share one that was both related to playing an actual round and another that embodied the fun we’ve been having with miniature golf.  I think my most memorable playing time was the first time I cracked the top 8 (the money paying spots) at the Maine State Open.  This is a United States Professional Miniature Golf Association tournament and I had played in a lot of tournaments at that point but hadn’t won much money.  The top 8 always seemed so tough to get into because I knew all the players there, and they are all really great.  In 2009 though, I worked my way into 6th place and was so happy because I felt like I had finally made it as a tournament player.  I’ve had continued success in tournaments since.
 		<br>
 		<br>
		My other moment was during the first tournament I ever played – the now defunct Mini Greater Hartford (Connecticut) Open in 2003.  I was playing in the amateur division at the time and during the match play portion of the tournament I was paired up against Honza Prokop, the father of the Czech sensation Olivia Prokopova, who couldn’t have been more than 12 at the time and was playing in the pro division.  He spoke very little English but it was a delight to get to play with him a little while and meet someone on an international level.  It was also awesome to see how happy he was for Olivia when she was doing well.  We would meet again at the 2004 U.S Open and I will always remember him saying that to do well you needed to “prac-teeeeeeece” in that deep Eastern European accent.  We’ve met so many awesome people from around the U.S.A. and the world while playing miniature golf and my experience with Honza embodies all those great relationships.
		<br>
		<br>
		<strong>Mandy</strong>:  My most memorable mini golf moment was playing in the amateur division of the 2005 Massachusetts Open.  Years before that tournament I would attend only as a spectator to support Pat.  The Mass. Open was the first time I competed in a tournament, and admittedly, it felt really good to win the amateur division.  That experience has given me the confidence to compete in tournaments as a professional.
	</p>	 
	<h4>
		Any interesting or fun holes you have played that stand out in your mind? 
	</h4>
	<p>		
		One of the most fun/interesting holes we’ve ever seen was the 19th or “free game” hole at Mt. Atlanticus in Myrtle Beach, South Carolina.  It’s a very long, thin hole that stretched out into the water and ends at a small island.  The “fairway” is just about the width of two golf balls.  The fun part about the hole is that if you get a hole-in-one you get a lifetime pass to the course and your picture on the wall!  Sadly we didn’t get the hole-in-one but it looked like a lot of people have in the past.  It was a very fun hole to play.
 		<br>
 		<br>
		One great hole we remember was in the original Monster Mini Golf course (Monster Mini Golf is a franchise of blacklight miniature golf courses with “monster” themes).  This hole had a little fan tucked into one of the side “bricks” that you didn’t know was there.  As the ball neared the hole, this fan blew the ball to the side.  Once you knew it was there you could correct for the wind, but it sure was a surprise the first time we played it!
	</p>	 
	<h4>
		Any advice for our audience about creating an entry for the Putter King Hole Design Contest? What advice would you give to help make an entry stand out from the crowd?
	</h4>
	<p>		
		To create a hole that stands out from the crowd, one needs to design a hole that uses a theme very well (usually in an obstacle) and one that has varying degrees of difficulty.  It’s ok (preferred) if it is tough to get it through the obstacle, but the reward better be worth the difficulty (for example an automatic hole-in-one).  There should also be an easier way around the obstacle that people can use if they can’t get it through so they don’t feel frustrated, but the penalty for avoiding the obstacle should be a stroke or two.  A great miniature golf hole is really that simple.  Now, the more one can take that basic premise and take it to the extreme (multiple levels of a hole, moving obstacles, etc) the better a hole can become.
	</p>	 
</div>		