<% provide(:title, "The Greatest Nutter to Ever Hold a Putter") %>
<% provide(:description, "Putter King Blog - The Greatest Nutter to Ever Hold a Putter") %>

<div class="center margin_header">
	<h1>The Greatest Nutter to Ever Hold a Putter</h1>
	<h3>
		Part VII of the Putter King Interview Series
		<br>
		An Interview with Tim "Ace Man" Davies
	</h3>
	<%= image_tag("ace.jpg", :alt => 'Tim "Ace Man" Davies', :class=> "img-polaroid") %>
</div>	
<div class="blog_text">
	<p>
		<em>
			Tim "Ace Man" Davies is the five-time World Crazy Golf Champion, the top British minigolfer over two millennia and has represented his country four times.  He is also renowned in the minigolf world for co-authoring the seminal Nutters with Putters and making the World's only instructional DVD on the sport.  He is currently finishing a book entitled "Win at Miniature Golf" which will be published soon.  In addition to these accomplishments Ace Man is also the webmaster of <%= link_to "miniaturegolfer.com", "http://www.miniaturegolfer.com" %> and as co-curator of the Crazy Golf Museum one of the few miniature golf historians on the planet.
		</em>	
	</p>
	<h4>
		What is your most memorable miniature golf moment?
	</h4>
	<p>	
		There have been quite a few.  I was very proud to win my third British Minigolf Championship on a course I didn't know at all prior to my arrival. It was a very demanding long long weekend. I was deeply honoured to be made an honorary member of the Hastings Winkle Club.  But I'd have to say the fifth time I won the World Crazy Golf Championship topped them all. I really wanted to win it and unlike some years had prepared properly both physically and mentally. I won that in memory of my mother who had passed away earlier that year.
	</p> 
	<h4>
		Has the sport of competitive miniature golf changed or evolved over the past 10 years?  If so, in what ways?
	</h4>
	<p>	
		The fun is gradually being sucked out of the sport. It is becoming more elitist and not something I really want to be associated with any more. For example, the World Crazy Golf Championship of old was open to all and it was a great fun thing to be part of. Sadly not so any more. Incidentally, most of the self-proclaimed elite aren't that good!
	</p>
	<h4>	
		Do you have a signature move after you sink a hole-in-one?
	</h4>
	<p>	
		I make a very loud maniacal Grrrr and point at the ball. And believe it or not it is perfectly allowable. After all everyone should know that the Ace Man has aced again!
	</p>	 
	<h4>
		It seems that all of the great mini golfers from the U.K. have nicknames.  How did you get your nickname?  Do the mini golfers in the U.K. choose their own nickname?  If not, how is one's nickname determined?
	</h4>
	<p>	
		It all started at the Planet Hastings Crazy Golf Club in our pre British Minigolf Association days. If you're quick enough, you choose your own as I did. If you're not or the name does not fit then you are named by consensus and that is not good.  One player wanted to take my nickname when I retired but my 'nomme de guerre' was retired along with me.
	</p>	 
	<h4>
		What is the key to a good course?  Are there any types of holes that should definitely be included?  How should the course flow from start to finish?
	</h4>
	<p>		
		I could write a book about this and maybe some day I will. Firstly, it has to have something for everybody, be they an aesthete, a small child or an engineer. Secondly it has to be somewhere you want to come back to because it's a good test of ability in a nice environment with helpful staff. Lastly and most importantly it must be FUN!
 		<br>
 		<br>
		I'm a big plateau fan. Ooooh and windmills.
		<br>
		<br>
		Some years ago I developed The Three Peak Crazygolfometric Model which shows that to be crazygolfically efficient a course should have three peaks of difficulty, measured by the relative stroke index, spread evenly throughout the course. This was all part of Tim's Design Methodology, TDM for short ;)
	</p>	 
	<h4>
		What are your future goals with the sport?
	</h4>
	<p>		
		Most of my goals are outside the sport. I run the Crazy Golf Museum with Richard 'Squire' Gottfried and we're about to redesign and expand it. I'm continuing to develop miniaturegolfer.com and through it am involved in some exciting collaborative projects around the the globe. I've just about finished writing 'Win at Miniature Golf'. I may play in the future but I've achieved plenty and don't feel the need to prove anything to anyone, unless of course......
	</p>	 
	<h4>
		You once challenged Tiger Woods to a game of crazy golf.  Did you ever get your match?  Is there any golfer in the world today that could give you a run for your money at a game of crazy golf?
	</h4>
	<p>	
		He's still running scared. And absolutely not! Interestingly, I recently read that many years ago Don Clayton the founder of Putt-Putt had a standing challenge to any PGA player to take on the best Putt-Putt players on any surface. As far as I'm aware, nobody took up the challenge.
	</p>	 
	<h4>
		Golf is considered a gentleman's game.  How about miniature golf?  Have you ever been heckled?
	</h4>
	<p>		
		I've always played by the rules and that includes how to behave on the course. Unfortunately, many players either through ignorance or design try and gain an ungentlemanly advantage. And, yes I've been heckled from both on and off the course. All of those transgressors received an immediate personal verbal battering. However, whilst I am practising I like to take the opportunity of trying a little bit of gamesmanship on my opponents. That always goes down well. NOT!
	</p>
	<h4>
		Miniature golf isn't very popular yet in Japan. For someone who has never played the game before, for what reasons would you recommend it to them?
	</h4>
	<p>		
		It is probably one of the only sports where ALL can compete equally. It can be played yearlong both indoor and outdoor. By proper preparation, application of technique and mental strength YOU can excel. These fundamentals can be transferred to any other sport and indeed life. And most of all it is and should be FUN!
	</p>	 
	<h4>
		Any advice for our audience about creating an entry for the Putter King Hole Design Contest?  What advice would you give to help make an entry stand out from the crowd?
	</h4>
	<p>		
		Truth or consequences. It's as simple as that. The truth is the ace and the consequences are if you miss. So make it aceable and make sure they pay if they miss!
	</p>	 
</div>	