<% provide(:title, "Putting Away Parkinson’s") %>
<% provide(:description, "Putter King Blog - Putting Away Parkinson’s") %>

<div class="center margin_header">
	<h1>Putting Away Parkinson’s</h1>
	<h3>Part IV of the Putter King Interview Series
	<br>An Interview with Mick Cullen</h3>
	<%= image_tag("parkinson.jpg", :alt => "Mick Cullen", :class=> "img-polaroid") %>
</div>	
<div class="blog_text">
	<p>
		<em>
			Mick Cullen is a mini-golfer, world record holder, professor, psychotherapist and philanthropist who has played miniature golf courses in 17 states and two foreign countries (Bermuda and Canada). In 1997, he started the <%= link_to "MC Mini Masters", "http://www.leaguelineup.com/welcome.asp?url=mcminimasters" %>, and has watched it grow beyond his wildest dreams from 13 measly competitors to the hullabaloo it has become.  Mick has thirteen top-five finishes in the tournament in fouteen years, including four runner-up years (2000, 2001, 2006, 2009) and a championship in 2002. Mick also holds the world record for <%= link_to "most holes of miniature golf played by one person in 24 hours (5,040)", "http://recordsetter.com/world-record/holes-miniature-golf-played-24-hours/7429#contentsection" %>, accomplished March 28-29, 2011 at Rocky's Fun House in Waukegan, an event in which he raised over $1,000 in the fight against Parkinson’s disease.
		</em>	
	</p>
	<h4>
		What originally got you interested in miniature golf?
	</h4>
	<p>	
		I’ve been playing miniature golf my whole life. When I was a little kid, my parents had not gone to college yet. They worked hard but we didn’t have a lot of extra money. There was a great 36-hole course about 30 minutes away from our home where you could play both courses for four bucks. Coupled with a stop at a hot dog stand, it made for a great, affordable night out for a family of four.
		<br>
		<br>
		As I grew up, though our financial situation improved, our tastes didn’t. We sought out miniature golf courses everywhere we went on vacation. When I was in grade school, courses were popping up all around us, and we played them all. Bad day at school? Mini golf cheered you up!
		<br>
		<br> 
		My parents were both great athletes, and this was a game we could all play on equal footing as my brother and I became teenagers. It’s no surprise that our interest in the game never went away.
	</p> 
	<h4>
		Miniature golf isn't very popular yet in Japan. For someone who has never played the game before, for what reasons would you recommend it to them?
	</h4>
	<p>	
		I think the best thing about miniature golf is that it’s truly a game that can be played and enjoyed at any age, regardless of athletic ability. Men and women can easily play together competitively if they wish, but the game has plenty to offer to the casual player too. The best courses feature holes that combine challenge, beauty, and whimsy so there are opportunities for triumph, wonder, and laughter.
	</p>
	<h4>	
		What is the MC Mini Masters?
	</h4>
	<p>	
		I enjoy planning annual sports-related events for my friends and family to participate in. When I was home from college in summer 1997, I was looking to start a new one, and I had an idea to see how many rounds of miniature golf we could play as a group in the same day without playing the same course twice. I found seven courses that seemed to make a logical geographical progression and convinced 12 people to come along with me. By the second course of the day, people were saying we needed to do it again in 1998. I knew I was on to something, but I never had any idea we’d end up with 30 or more players most years, or that it would become a big enough deal to get covered by the Chicago Tribune. It’s become my most popular event by far.
	</p>	 
	<h4>
		Why did you decide to attempt to set a world record for most holes played in 24 hours?
	</h4>
	<p>	
		I’ve always had a fascination with world records. I used to sit up at night as a kid reading the Guinness book and I dreamed that one day I might challenge a record in it. However, though I had a range of odd talents, I didn’t consider myself world-class in any of them.
		 
		My enjoyment of putting on annual sports events as a young adult has developed into an interest in staging fundraisers for worthy groups as I’ve established my social work career. Last fall, I dreamt up a way to combine my love of miniature golf with my philanthropic tendencies and my desire to set a world record.
		 
		Though I’ve staged fundraisers before, I never really had a personal connection to any charitable group. However, I got married last summer, and my wife regularly raises money for the Michael J. Fox Foundation for Parkinson’s Research in honor of her late grandfather Gene Lonski, who passed away from complications of Parkinson’s in 2008. The folks at the Universal Record Database were really excited about my event and supported it 100%. Then it was just a matter of finding a course willing to give me exclusive access for 24 hours. That was the most difficult part of putting the event together. The folks at Rocky’s Fun House ended up being great about it. 
	</p>	 
	<h4>
		How did you prepare for your world record setting event?
	</h4>
	<p>		
		Once the event was confirmed, I knew I had to get to work preparing myself physically and mentally. I began endurance training at the YMCA, doing plenty of cardio and building up leg endurance especially. For the putting end of things, I started seriously practicing at Rocky’s Fun House. I’d go at hours they didn’t have a lot of customers and I had the course to myself and just play one round right after the other. In my first session, with no practice, I found I was able to average 4:45 over 4 rounds, which was already better than world record pace, but I knew that maintaining that for 24 hours would be quite different. I would have to stay on my feet for most of the time and I’d end up walking between 30 and 40 miles, which I’d never come close to doing. My legs and my back (due to being bent slightly at the waist for all my shots) were going to be the most taxed parts of my body.
		<br>
		<br> 
		I worked my way up until I was doing 90-minute practice sessions. In my last session, I was able to complete 21 rounds in 90 minutes. I knew the course well enough at that point to be able to hit my tee shots without thinking. Still, since I thought my concentration might wane in the late hours of the attempt, I taped spots on every hole that involved a bank shot, and I marked the ideal tee spot on every hole too. Every second saved was going to add up, and they certainly did. On top of that, I recruited a volunteer support team who helped me stay hydrated, fed, and focused throughout the 24 hours, as well as acting as the official record witnesses. Without my volunteers, I would not have been able to break the record.
	</p>	 
	<h4>
		Do you have any future plans to set any new miniature golf world records?
	</h4>
	<p>		
		Well, on top of setting the record for most holes played, I also set the record for most holes-in-one in 24 hours (570), so I already have two! I told my wife I didn’t envision any situation wherein I would attempt this again, but that wouldn’t be totally accurate anymore. I can see myself making a similar attempt in the future, especially if my record gets broken. I’d also like at some point to attempt an outdoor version of the record. 
	</p>	 
	<h4>
		How would you describe your putting style?
	</h4>
	<p>	
		I’m steady and precise. I always have a path envisioned for the ball before I hit it. Although I’m capable of spectacular shots now and then, I’d say that having a steady, predictable stroke is more my hallmark. This is probably backed up by the fact that 250 of my 280 rounds during the 24-hour record fell in the 35-42 range. 
	</p>	 
	<h4>
		What is your most memorable miniature golf moment?
	</h4>
	<p>		
		It is very difficult to narrow it down to one. Winning the Mini Masters was great. I only have one title in the 14 years I’ve run the tournament, and I had to come from behind in the final round to get it, so it was pretty special. Getting the Mini Masters noticed enough to have it covered by the Chicago Tribune was also pretty exceptional. I also would put my 36 holes at the Hinkle Family Fun Center in Albuquerque pretty high up there, since I scored 32 and 33, with 11 holes-in-one. Still, setting the world record was pretty hard to beat. Lots of people have won tournaments, scored 32s and 33s, or had something they created covered by a major newspaper. No one but me has ever played 5,000 holes of miniature golf in one day. That’s pretty mind-boggling to think about. 
	</p>	 
	<h4>
		Any interesting or fun holes you have played that stand out in your mind?
	</h4>
	<p>		
		At heart, I really prefer classic miniature golf courses. It’s difficult for me to pick out single holes, but I can tell you there are very memorable courses I’ve played. When I drove the length of Route 66 here in the U.S. three summers ago, I made a point of stopping at a few miniature golf courses along the way, including some that were defunct. I wanted to take pictures of the courses in their various states of disrepair, a sort of melancholy look at what I believe to be the loss of some great bits of Americana. One course in Missouri was closed and had a “for sale” sign when we arrived, to our surprise. I was trying to find a way onto the property to take pictures when the owner popped around a corner, ready for a confrontation. I explained my intention, and he decided to let me and my companion play a round. Then he chatted us up for quite a long time. It was a great surprise. The Skokie Park District course here in Illinois is fantastic as well—very challenging and extremely memorable, featuring scale replicas of the Great Wall of China, Easter Island statues, Eiffel Tower (which is in play!), and more. Great stuff.
	</p>	 
	<h4>
		Any advice for our audience about creating an entry for the Putter King Hole Design Contest?  What advice would you give to help make an entry stand out from the crowd?
	</h4>
	<p>		
		To repeat something I said above, the best courses combine beauty, whimsy, and challenge. The same can be said for the most memorable holes. If you can find a way to make a hole challenging—so it awards a solid tee shot and punishes a poor one—while also making it visually appealing and smile-inducing, that’s a perfect miniature golf hole.
	</p>	
</div>		