<% provide(:title, "The Finger on the Pulse of the Minigolf World") %>
<% provide(:description, "Putter King Blog - The Finger on the Pulse of the Minigolf World") %>

<div class="center margin_header">
	<h1>
		The Finger on the Pulse
		<br>
		of the Minigolf World
	</h1>
	<h3>
		Part IX of the Putter King Interview Series
		<br>
		An Interview with John Mittler (Finland) and Hans Bergström (Sweden)
	</h3>
	<%= image_tag("minigolfnews.jpg", :alt => "Minigolfnews.com", :class=> "img-polaroid") %>
</div>	
<div class="blog_text">
	<p>
		<em>
			John Mittler (Finland) is a competition minigolfer and author of 'Win yourself at minigolf'.  He played his first minigolf competition in 1985 and he holds the Finnish record of 27.20 on 5 rounds of beton.
 			<br>
 			<br>
			Hans Bergström (Sweden) started his minigolf career in 1982 and has also won over 20 titles in the West Swedish Regional championships. Recently, he has been working more with the administrative side of minigolf as Chairman on the Swedish Federation 2003-2007 and President of the EMF 2004-2008. 
		</em>	
	</p>
	<h4>
		What type of miniature golf course (Minigolf Open Standard, Eternit, Feltgolf, Concrete, etc.) is most popular in Europe?
	</h4>
	<p>	
		<strong>JJM</strong>: Climate plays a role in this: in rainy countries, such as Great Britain and Scandinavia, practically all minigolf courses are covered with felt. The most popular type of minigolf in Scandinavia is the Swedish standard felt courses. In Great Britain the most popular type is adventure golf (which in Britain is commonly called "crazy golf"), either with a natural look a bit similar to golf courses, or using geometrical shapes and possibly windmills and other fantasy obstacles.
 		<br>
 		<br>
		In the less rainy central and southern Europe, the majority of minigolf courses are without any carpet: the playing surface is either hard concrete (usually painted) or hard eternite plate. Of these two, eternite is more popular because of its smaller size and cheaper building costs.
		<br>
		<br>
		To answer your question with one word, which type of minigolf course is most poplar in Europe: I am not sure.
		<br>
		<br> 
		Eternite is very popular in Germany, but not so much in other countries. To be honest, my experience (in Finland, but this might not be true in Germany) is that eternite is boring for the paying public, and does not bring much money to the course owner as the public goes to the other style of minigolf courses and avoids eternite courses.
		<br>
		<br> 
		My guess is that the most popular style of minigolf in Europe is felt courses a bit similar to the Swedish standard, when this concept is defined very loosely, so that all self-designed obstacles and lane shapes are allowed. A wooden rectangular frame and a felt carpet, and a hole somewhere, with or without a putting green which is wider than the rest of the lane.
		<br>
		<br> 
		Across the whole world the most probable popular style of minigolf courses is (again I am guessing without exact knowledge) adventure golf with felt or plastic grass carpet. But, if not this, then my second guess is the same as for Europe: felt courses a bit similar to the Swedish standard, when this concept is defined very loosely, so that all self-designed obstacles and lane shapes are allowed.
		<br>
		<br>
		<strong>HB</strong>: John has answered this well. Maybe what could be added is that this varies also if you are discussing popularity amongst the public or amongst competitive players. In Sweden we have cities where the public can chose from all 4 types like my hometown of Gothenburg and then its quite clear that MOS ("Minigolf Open Standard") courses are the most popular. For competitive players, it is the total opposite where MOS courses are the least popular and Felt is the most popular.
	</p> 
	<h4>
		Which type of course do you prefer and why?
	</h4>
	<p>	
		<strong>JJM</strong>: Adventure golf with a golf ball is my favourite, because it is played with simple playing equipment which requires no attention or fine-tuning: a golf ball and a steel putter.
 		<br>
 		<br>
		My second favourite is Swedish standard felt courses, because they are also played with a quite simple set of equipment (5 - 10 special minigolf balls and a putter with rubber in the club-head). Felt courses are the most difficult and honest form of competition minigolf. More difficult and more honest than adventure golf, in the sense that skill is constantly rewarded and even the smallest mistakes are constantly punished heavily.
		<br>
		<br> 
		World Minigolfsport Federation has its historical roots in Central Europe, where beton and eternite are the prevalent types of minigolf, so WMF favours these hard-surface types of minigolf in international competitions. The perfect quality hard surface, and perfect quality hard wall materials, change the nature of the game quite much from what one would imagine when a layman thinks about minigolf. A top-class team visits this style of minigolf courses with a carload of 1,000 different special balls, which have different bounces (0 - 85 cm when dropped from 100 cm), hardnesses, weights and surface treatments. Selection and fine-tuning of the balls is the key to success in this style of minigolf, even more than the skill to hit the ball with the putter. This is why I personally do not appreciate these styles of minigolf as sport, because they are less based on what the sportsman does with his putter, and more based on what the coaches do with the special balls, and who owns a bigger selection of balls, and who finds the perfect ball for a specific minigolf lane.
		<br>
		<br> 
		<strong>HB</strong>: I haven't played that actively since 2002, but when I was playing the most back in the 90s I preferred Felt. Nowadays I prefer MOS artificial grass since its a very different kind of game awarding patience and skill and not so much what ball you are using and how offensive you might play.
	</p>
	<h4>	
		There are many names throughout the world for miniature golf.  What is it usually called in Europe? Does it vary by country?
	</h4>
	<p>	
		<strong>JJM</strong>: The most popular name worldwide and in Europe must be minigolf. In many European countries some people (or at least course owners or competition players) use a word in the local language, whose English translation would be "lane golf". For example:<br>
		* Bahnengolf (Germany)<br>
		* bangolf (Swedish)<br>
		* golf su pista (Italian)<br>
		<br>
		In Great Britain the most popular name for the game is "crazy golf".
	</p>	 
	<h4>
		What originally got you interested in miniature golf?
	</h4>
	<p>	
		<strong>JJM</strong>: Friends started to play and asked me to join.
 		<br>
 		<br>
		<strong>HB</strong>: I started in 1982 as a youth player also because of friends and the fact that we had a course quite close to where I lived. I pretty quickly got caught up in it and still am.
	</p>	 
	<h4>
		What is your most memorable miniature golf moment?
	</h4>
	<p>		
		<strong>JJM</strong>: Winning the Finnish championships for the first time in 2005. Winning something for the first time is always memorable.
 		<br>
 		<br>
		<strong>HB</strong>: Oh, I have had many memorable moments. As a player I have won many regional Championships in West Sweden, but never any big title on a national level. Some other memorable things are when I was with the Swedish Teams as an official from Sweden such as in 2003 in Bad Munder, 2006 in Geldrop, 2009 in Odense and of course in 2011 when I was Chairman of the Stockholm Championship. Working with this team we had in August this year in Stockholm was a great memory for life.
	</p>	 
	<h4>
		Miniature golf isn't very popular yet in Japan. For someone who has never played the game before, for what reasons would you recommend it to them? 
	</h4>
	<p>		
		<strong>JJM</strong>: Fun, not very expensive, and no risk of injury as in many other sports.
 		<br>
 		<br>
		<strong>HB</strong>: It's also a great activity for companies that want to do something fun with their staff. It's not expensive and everyone can do it.
	</p>	 
	<h4>
		What are the features or characteristics of a great miniature golf course?
	</h4>
	<p>	
		<strong>JJM</strong>: Good quality of surface materials, and either perfect quality walls (so that bouncing off them is reliable without a luck factor) or walls that are so uneven that bouncing off them is not realistically possible with any accuracy. Too many minigolf courses in the world are something between these two, which brings a luck factor to the game, as players try to bounce from the walls, but their less than perfect quality makes the ball bounce to random directions from the wall.
 		<br>
 		<br>
		My personal favourite is the adventure golf style with very narrow obstacles, and the softest possible felt carpet, which is ideal for a golf ball.
		<br>
		<br> 
		<strong>HB</strong>: I like courses that are open for many alternatives. Also, courses that require a good precision shot and if you miss you should have a big challenge to get a good score.
	</p>	 
	<h4>
		Any advice for our audience about creating a miniature golf hole design for the Putter King Hole Design Contest? What advice would you give to help make an entry stand out from the crowd?
	</h4>
	<p>		
		<strong>JJM</strong>: Depends on who the referee is. If it is a public vote, then a statue of Justin Bieber sounds like a winning concept. I don't think that I judge minigolf courses from the same aspects as the referees or voters of this type of a public contest, so I cannot give any answer more serious than this.
	</p>	 
</div>		