<% provide(:title, "#PKSH2 Riddle") %>
<% provide(:description, "Putter King Blog - #PKSH2 Riddle") %>

<div class="center margin_header">
	<h1>
		Putter King 
		<br>
		Scavenger Hunt Riddle
	</h1>
	<h3>#PKSH2</h3>
	<%= image_tag("riddle.jpg", :alt => "#PKSH2 Riddle", :class=> "img-polaroid") %>
</div>	
<div class="blog_text">
	<p>
		On February 13th we released a riddle to give potential Scavenger Hunt competitors a chance to learn 1 of the 20 tasks for the upcoming 2nd Annual Putter King Miniature Scavenger Hunt before the release of the official list on March 1st, 2012.
		<br>
		<br>
		<em>
			On the 21st people sing to me
			<br>
			67 years free I be
			<br>
			Not one of fifty but still part of one
			<br>
			On this land a course built for fun
			<br>
			Take out your brightly colored golf ball
			<br>
			Cross the Golden bridge but don't hit the Great Wall
		</em>
 		<br>
 		<br>
 	</p>
 	<h4 class="center">
 		**SPOILER**
 		<br>
 	 	Scroll down to read the answer
 	 </h4>
 	<br>
 	<br>
 	<br>
 	<br>
 	<br>
 	<br>
 	<br>
 	<br>
 	<br>
 	<br>
 	<p> 
		The answer to the riddle is: Island Mini-Golf Adventure located in Guam, USA.
		<br>
		<br>
		Clue #1: The latitude and longitude coordinates of Guam are written on the map of the island
		<br>
		<br>
		Clue #2: "On the 21st people sing to me / 67 years free I be" - Guam's Liberation Day is July 21, 1944
		<br> 
		<br>
		Clue #3: "Not one of fifty but still part of one" - Guam is not one of the 50 states, but is still a U.S. territory
		<br> 
		<br>
		Clue #4: "Cross the Golden bridge but don't hit the Great Wall" - If you type "Guam minigolf" into Google, you would find Island Mini-Golf Adventure's Facebook page in the top results. Here you can see pictures of the course which features the Golden Gate Bridge Hole and the Great Wall of China Hole.
		<br>
		<br>
		Congratulations to Pat Sheridan (last year's 3rd place finisher) for getting the correct answer. Although we had a few close guesses, Pat was the only one able to successfully solve the riddle. He chose task #20.
	</p>
</div>		