<% provide(:title, "Miniature Golf Down Under") %>
<% provide(:description, "Putter King Blog - Miniature Golf Down Under") %>

<div class="center margin_header">
	<h1>Miniature Golf Down Under</h1>
	<h3>
		Part VIII of the Putter King Interview Series
		<br>
		An Interview with Allan Cox
	</h3>
	<%= image_tag("allan.jpg", :alt => "Allan Cox", :class=> "img-polaroid") %>
</div>	
<div class="blog_text">
	<p>
		<em>
			Allan Cox (AUS) is a member of the Australian Putters Association (APA) and is the 1st Annual Putter King Miniature Golf Scavenger Hunt Champion. He plays for the Ermington Putters Club in Sydney, Australia. His first ever tourney scores were 42, 43, 42.  
		</em>	
	</p>
	<h4>
		Allan, congratulations on winning the 1st Annual Putter King Miniature Golf Scavenger Hunt. 
	</h4>
	<p>	
		Thank you, it really was a team effort from the Sydney and surrounding mini golf community, I had a ball.
	</p> 
	<h4>
		Tell us a little more about your experience.
	</h4>
	<p>	
		It was all a bit of a whirlwind, I stumbled upon a link from the Putting Penguin group from the USA about 2 and a bit weeks out from the end of the competition. I actually thought about it for a couple of days thinking it was too much to do in just two weeks. Was I right about that! But once I started there was no going back. The 17 items were quite challenging, I managed to complete 15 of 17. I just ran out of time. The Putter King t-shirt arrived with only four hours to spare, it was that close. I even had a lash at unlocking the holes on the Putter King Adventure Golf game on the last night but ended up in the time trial section. I had no idea?
	</p>
	<h4>	
		What task was the most difficult for you?
	</h4>
	<p>	
		Definitely locating all ten obstacles (Task #2 - Picture of yourself next to each obstacle in our list of the Top 10 Nostalgic Miniature Golf Obstacles). I must have visited and played at least 8 different mini golf courses in Sydney and down past Wollongong around an hour or so drive away. I would hate to think how many kilometres I clocked up.
	</p>	 
	<h4>
		Any memorable moments?
	</h4>
	<p>	
		There were several, all involving that "trick shot". Having wasted half a day trying to work out a trick shot all around the Ermington Putt Putt course, I recalled a member of the public smashing a ball from the ramp hole no. 14 on the Fun Run and making an ace in the up ramp hole on hole no. 15 a few months earlier. This hole has two holes; one on the up ramp and one on the plateau, then feeds down a pipe into the hole itself. Well sometimes. I figured if a member of the public can make it, I must have some sort of chance. I spent about half an hour having a look at it and made two aces off the fence at the back of the hole.
		<br>
		<br>
		So about two out of thirty plus shots with my son Aaron chasing balls here, there and everywhere. I said to Nathan, our current Australian Champion, that I had something that looks like a trick shot. I said this may get ugly and may take us a while to get on video. You would not believe it when it went and slam dunked off the back rail on the first go on video. Well the crowd went wild. At least Nathan and I did with the rest of the public on the Fun Run wondering what all the commotion was about...we were pumped!
		<br>
		<br>
		The other was about a week later when 3 mates in their early twenties were having a round when I caught up to them on the Fun Run. I was talking to them about their scores and the trick shot came up as I had just put it up on YouTube. They said, "Well we have got to have a crack at this". The first guy smashes it into the up ramp on the other side straight up into the fluoro light tube above the hole. Smashed glass goes flying everywhere. I was left to clean up the mess and explain to course management what had happened while his mates were rolling around on the ground laughing their heads off. That was just the start. With the broken glass now out of the way and no more light tubes to get smashed, his other mate has a go. First shot he makes it off the fence and does a lap of the course screaming his head off with his t-shirt tucked over his head like he had scored a World Cup soccer goal. A very funny 15 minutes that those three boys and I are unlikely to forget in a hurry. Course management either. lol. I did offer to pay for the replacement light tube.
	</p>	 
	<h4>
		How popular is miniature golf in Australia?
	</h4>
	<p>		
		Very popular indeed. I guess we have the climate for it. Within an hours drive of Sydney there would be at least a dozen mini golf courses. Some with as many as two to three courses on site. On the Gold Coast in Queensland there are at least 4 different courses within a 15 minutes drive of each other. Back in the Putt Putt glory days of the seventies and eighties there were at least 25 Putt Putt courses around the country. The PPA was very big back then with first prize purses around the $5,000 dollar mark and the Pro's qualified for trips to play in the USA for the big $50,000 prize pools. There are even two courses in New Zealand.
	</p>	 
	<h4>
		There are many names throughout the world for miniature golf. What is it usually called in Australia?
	</h4>
	<p>		
		Pretty much most of them call themselves Putt Putt of some description, the Putt Putt name is etched into most Australian's memory. Much like vacuuming the carpet is sometimes called Hoovering the carpet. The brand name is that well known down under.
	</p>	 
	<h4>
		Miniature golf isn't very popular yet in Japan. For someone who has never played the game before, for what reasons would you recommend it to them.
	</h4>
	<p>	
		Family fun! Is there a better way for the whole family to have some inexpensive fun together? I see it all the time at practise, one of the youngsters makes a hole in one and everyone really enjoys it. Good times, good family fun, I think that's what mini golf is all about. You don't have to be a golf pro to be able to enjoy the game, this makes it fun for everyone.
	</p>	 
	<h4>
		What originally got you interested in miniature golf?
	</h4>
	<p>		
		I played like most kids against my brothers. We were always pretty competitive with each other. When I moved to Sydney for work back in the mid to late 80's, I lived about 5 minutes from a course in Bankstown. We used to go there once a week to play until one day the course manager (a PPA pro) took an interest in my scores and informed me about the weekly public tournaments in 3 different divisions. My interest in the competitive side of mini golf had been awakened. It started from there, first tourney scores were terrible 42, 43, 42.  After much practise and progression from Division 3 to the amateur ranks and a National title in that division I then received an invitation to join the Pro ranks. From there it took 9 years before I won my first National Pro Medal play title. I learnt a lot in those 9 years. I think sometimes you have to pay your dues in sport and I certainly did in those 9 years. Travelling all around Australia chasing that little white ball. Looking up to and playing against the top guys who would play in the USA championships. I was lucky to do that myself in 1997. The chance to play against some of the sports greatest putters is a memory that I will cherish always, and hope I get a chance to do again someday.
	</p>
	<h4>
		How would you describe your putting style?
	</h4>
	<p>		
		I play with a orthodox reverse overlap grip. I try not to complicate things too much, straight back, straight through with a nice slow follow through. I play a pretty conservative game, aces can be hard to come by and I hate giving them back with bogeys or worse. I am probably the king of the lay up. I just try to stay out of trouble if I can help it and play within my capabilities. A USA PPA pro once told me "it's all about preparation and there's more to Putt Putt then just making aces". I think you may have already interviewed that legend of the sport? (see our <%= link_to "interview with Brad Lebo", dentist_path %>)
	</p>	 
	<h4>
		What is your most memorable miniature golf moment?
	</h4>
	<p>		
		With a career spanning close to 25 years, there have been plenty, and it is too hard to narrow it down to one. I do recall a couple.
		<br>
		<br>
		1. My first National Pro Medal Play title in 2004. Having been so close over the years to finally get over the line by one shot having to make a 5 footer for par on the last to win.
		<br>
		<br>
		2. A National Pro - Am title back in 2000. My partner and I were running 6th after three rounds and about 5 shots back from the lead and in best ball that's a lot. I said to my partner if we were to have any chance we had to go low in the final round. We missed hole 4 and both lipped out on hole 8 and came home to win with a round of 20. I did get excited that day! My amateur partner did mention about hole 12 that he was getting quite nervous. I just reminded him of all the practise that he had put in and now was the time to call on all that practise. He aced the next two holes and we aced out from there. That was a lot of fun! My ace on the difficult 16th was a highlight. I think I almost grabbed the ball before it hit the bottom of the cup! I was that fired up.
		<br>
		<br>
		3. National Pro Medal Play 2010. A testament to hard work, practise ethic and never giving up. Having suffered a stroke seven months earlier, as part of my rehab I had convinced my rehab team that walking around a Putt Putt course and swinging a putter would be beneficial in my recovery. It was a long hard road back when a par score was a good score for me initially, to win the National Pro Medal Play title and go back to back 2009-2010 for me was very special and gratifying. Sometimes you have to go through the bad times to appreciate the good ones.
		<br>
		<br>
		Only one other player in Oz has accomplished back to back Pro wins, Aussie putting legend Ron Lamplough (1996, 97). His son Nathan has a chance to do that next year in Sydney in May 2012.
	</p>
	<h4>
		Your hole design for the Putter King Hole Design Contest is currently in 3rd place! Congrats! Any advice for our audience about creating a miniature golf hole design?  What advice would you give to help make an entry stand out from the crowd?
	</h4>
	<p>		
		I have spent a lot of my life on a mini golf course either practising or competing, and it never ceases to amaze me the reaction of the public when they get a hole in one. So why not make it easy to give the general public that great feeling more often. Maybe we tend to over complicate the whole mini golf idea with all the obstacles and par threes and fours. Just ask John Napoli and Rick Baird what it is like to shoot an 18 and I'm guessing they had a good time! How they held onto their putters on the 18th is beyond me!
		<br>
		<br>
		I have seen members of the public get very upset when they have had five or six shots and the ball is still not in the hole! It's when they start using their putters to take out their frustration on the carpet or rails or the gardens that's the problem. So keep it simple! Is that the "KISS" principle?
	</p>
	<br>
	<div class="center">
		<iframe width="560" height="315" src="http://www.youtube.com/embed/x18z3BPUqvQ?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>		  
</div>	